<h1>Enter your new password:</h1>

<%= form_tag(reset_url, method: :delete) do %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>
    <%= button_tag 'reset password' %>
<% end %>
