<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <h3>Enter your new password:</h3>

  <%= form_tag(reset_url, method: :post) do %>
  <div class="form-group">
      <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password", class: "form-control" %>
    </div>

      <div class="form-group">
      <%= button_tag 'Update password', class: "btn btn-primary" %>
    </div>

    <% end %>
  </div>
</div>

<%= render 'layouts/remove_password_alert' %>
