<h3>Almost done!</h3>
<br>
<div class="row">
  <div class="col-md-6">

    <%= form_tag(@url, method: :post, role: "form") do %>
      <div class="form-group">
        <%= label_tag :receiving_agent_name, 'Is your name correct?' %>
        <%= text_field_tag :receiving_agent_name, current_user.name, placeholder: "Your Name", class: "form-control", required: true %>
      </div>
      <br>
      <p><strong>Lastly, enter your managing broker's details.</strong></p>
      <p>If you are your own broker, fill in your personal information.</p>

      <div class="form-group">
        <%= text_field_tag :name, nil, placeholder: "Broker's First & Last Name", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= email_field_tag :email, nil, placeholder: "Broker's Email", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= text_field_tag :brokerage_name, nil, placeholder: "Brokerage Name", class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= button_tag "Request Broker's approval", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>



&nbsp;

<div class="col-md-6">
  <div class="well">
    <h4>What happens next?</h4>
    <br>
    <p>The referral will be sent to your broker for approval.</p>
    <p>If your broker approves the referral, contact information for the referral will be sent to you.</p>
    </div>
    </div>
</div>
