<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>
      <button type="button" class="btn btn-default btn-sm">1) Accept Referral</button>
      <button type="button" class="btn btn-primary btn-sm">2) Your Info</button>
      <button type="button" class="btn btn-default btn-sm">3) Next Steps</button>
    </p>
  </div>
</div><!-- end row 1 -->

<h3>Almost done!</h3>
<p class="lead">We just need a little more information.</p>
<div class="row">
  <div class="col-md-6">

    <%= form_tag(@url, method: :post, role: "form") do %>
      <div class="form-group">
        <%= label_tag :receiving_agent_name, 'Is your name correct?' %>
        <%= text_field_tag :receiving_agent_name, current_user.name, placeholder: "Your Name", class: "form-control", required: true %>
      </div>
      <br>
      <p><strong>Lastly, enter your managing broker's details.</strong></p>
      <p>If you are your own broker, fill in your personal information.</p>

      <div class="form-group">
        <%= text_field_tag :name, @lead.broker.name, placeholder: "Broker's First & Last Name", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= email_field_tag :email, @lead.broker.email, placeholder: "Broker's Email", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= text_field_tag :brokerage_name, @lead.brokerage.name, placeholder: "Brokerage Name (Example: XYZ Realty)", class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= button_tag "Request Broker's approval", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>



&nbsp;

<div class="col-md-6">
  <div class="well">
    <h4>What happens next?</h4>
    <br>
    <p>The referral will be sent to your broker for approval.</p>
    <p>If your broker approves the referral, contact information for the referral will be sent to you.</p>
    </div>
    </div>
</div>

<%= render 'layouts/remove_password_alert' %>
