<h1>Aprrove Referral?</h1>

<div class="row">
  <div class="col-md-6">
  </br>
  <p>Your agent <strong><%= @lead.receiving_agent.name %></strong> have received and accepted a referral offer from <strong><%= @lead.sending_agent.name %>.</strong></p>

  <p>The requested referral fee is <%= "#{@lead.referral_percent}%" %> of the commission.</p>
  <p>Once you as the broker accept, <strong><%= @lead.receiving_agent.name %></strong> will receive contact details.</p>

  <ul>
    <li>Client Name: <%= @lead.user.name %></li>
    <li>Email: (Available once lead is accepted)</li>
    <%= "<li>Mobile Phone: (Available once lead is accepted)</li>".html_safe if @lead.user.mobile.present? %>
    <%= "<li>Buying</li>".html_safe if @lead.buying %>
    <%= "<li>Selling</li>".html_safe if @lead.selling %>
    <li>Price Range: <%= "#{@lead.price_range_start} to #{@lead.price_range_end}" %></li>
    <%= "<li>Location</li>: #{@lead.location}".html_safe if @lead.location.present? %>
  </ul>

  </br>
  <%= link_to 'Approve Referral', broker_reply_url({lead_id: @lead.id, accept: 'yes'}), method: :post, class: "btn btn-primary" %>
  <%= link_to 'Decline', broker_reply_url({lead_id: @lead.id, accept: 'no'}), method: :post, class: "btn btn-default" %>

  </div>

<div class="col-md-6">
  <div class="well">
    <h4>What happens next?</h4>
    <br>
    <p>If you accept, the referral will be sent on to your broker for approval.</p>
    <p>If you decline, the referral is sent back to the referring agent.</p>
  </div>
</div>

</div><!-- end row -->
