<h1>Howdy</h1>

<%= bootstrap_form_for(@brokerage, url: broker_step3_url, method: :post) do |f| %>
  <%= f.text_field :name, placeholder: 'Brokerage Name', hide_label: true  %>
  <%= f.text_field :city, placeholder: 'City', hide_label: true  %>
  <%= f.text_field :state, placeholder: 'State', hide_label: true  %>
  <%= f.submit 'Save', :class => 'btn btn-primary', id: 'button' %>
<% end %>
<!-- Add Brokerage detail... -->

