<h1>Register to Send a Referral</h1>

<%= render 'layouts/errors', object: @user %>

<%= form_for(@user, url: step2_url) do |f| %>
  <%= f.text_field :name, placeholder: 'Name'  %>
  <%= f.text_field :email, placeholder: 'Email'  %>
  <%= f.password_field :password, placeholder: 'Password'  %>
  <%= f.submit "Register"%>
<% end %>

<h2> or Login</h2>
<%= render 'sessions/form' %>
