<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>
      <button type="button" class="btn btn-default btn-sm">1) Client details</button>
      <button type="button" class="btn btn-default btn-sm">2) Receiving agent</button>
      <button type="button" class="btn btn-primary btn-sm">3) Review/Send</button>
    </p>
  </div>
</div><!-- end row 1 -->

<h3>Review and Send</h3>
<hr>

<div class="row">
<div class="col-md-4">
  <h4>Client:</h4>

  <ul>
    <li>Name: <%= @lead.name %></li>
    <li>Email*: <%= @lead.email %></li>
    <%= "<li>Mobile Phone: #{@lead.mobile}</li>".html_safe if @lead.user.mobile.present? %>
    <%= "<li>Buying</li>".html_safe if @lead.buying %>
    <%= "<li>Selling</li>".html_safe if @lead.selling %>
    <%= "<li>Price Range: #{number_to_currency(@lead.price_range_start, precision: 0)} to #{number_to_currency(@lead.price_range_end, precision: 0)}</li>".html_safe if @lead.price_range_start.present? && @lead.price_range_end.present? %>
    <%= "<li>Location: #{@lead.location}</li>".html_safe if @lead.location.present? %>
    <%= "<li>Comment: #{@lead.comment}</li>".html_safe if @lead.comment.present? %>
  </ul>
  <small>(*Will not be shared with receiving agent until referral is accepted)</small>

    <h4>Receiving Agent:</h4>
  <ul>
    <li>Name: <%= @lead.receiving_agent.name %></li>
    <li>Email: <%= @lead.receiving_agent.email %></li>
  </ul>
    <br>
    <p style="color:red">^ ADD LOCATION/COMMENTS ^</p>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
  <div class="panel-body">

    <h3>Referral Summary:</h3>
      <p>The requested referral fee is <%= "#{@lead.referral_percent}%" %>.</p>
      <p>Read full <%= link_to "Terms and Conditions", about_terms_conditions_url %>.</p>
        <%= render 'layouts/terms', lead_id: @lead.id, url: step4_create_url, button: 'Send Referral', decline: false %>
      <br>

      <p style="color:red">^ ADD VALIDATION ^</p>
    </div>

  </div>
</div>

<div class="col-md-4">
  <div class="well">
    <h4>What happens next?</h4>
  <p>We send the referral to the Receiving Agent. When they accept, it's sent to their managing broker for approval. You'll be notified by email every step of the way.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

  </div>
</div>


