<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>
      <button type="button" class="btn btn-primary btn-sm">1) Client details</button>
      <button type="button" class="btn btn-default btn-sm">2) Receiving agent</button>
      <button type="button" class="btn btn-default btn-sm">3) Review/Send</button>
    </p>
  </div>
</div><!-- end row 1 -->

<div class="row">
  <div class="col-md-6">
    <h3>Your Referral Client's Details</h3>

    <%= render 'layouts/errors', object: @wizard %>
      <%= bootstrap_form_for(@wizard, url: step2_create_url) do |f|%>
        <%= f.text_field :name, placeholder: "First & Last Name(s)", hide_label: true %>
        <%= f.email_field :email, placeholder: "Email", hide_label: true %>
        <%= f.text_field :mobile, placeholder: "Mobile Phone (Example: 123-456-7890)", hide_label: true %>
        <%= f.check_box :selling %>

        <%= f.check_box :buying %>

        <%= f.text_field :price_range_start, placeholder: "Buying minimum price (Example: $250,000)", hide_label: true %>
        <%= f.text_field :price_range_end, placeholder: "Buying maximum price (Example: $400,000)", hide_label: true %>
        <%= f.button 'Next Step', class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h5>The Basics</h5>
      <div class="well">
      <p>The referral fee is <strong>25%</strong> of the total commission that the Receiving Broker/Agent receives from a successful transaction.</p>
      <p>This fee is due no later than 15 business days after the transaction is completed.</p>

      <em><p>You will see the full, legal agreement prior to sending to the Receiving Agent.</p></em>
      </div>
    </div>
</div><!-- end row 2 -->
