&nbsp;

<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class=" large-9 columns">
  <div class="button-bar">
    <ul class="button-group [radius round]">
      <li><a href="#" class="small button secondary disabled">1) Register</a></li>
      <li><a href="#" class="small button secondary success">2) Lead details</a></li>
      <li><a href="#" class="small button secondary disabled">3) Receiving agent</a></li>
      <li><a href="#" class="small button secondary disabled">4) Send</a></li>
  </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">
    <h4>Enter Your Lead Information</h4>
    <%= render 'layouts/errors', object: @wizard %>
  </div>
  <div class="large-4 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">
    <%= form_for(@wizard, url: step2_create_url) do |f|%>
  <div class="form-group mt5">
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.text_field :mobile, placeholder: "Mobile Phone" %>
    <%= f.radio_button(:selling, 1) %>
    <%= f.label(:selling, "Selling") %>
    <%= f.radio_button(:buying, 1) %>
    <%= f.label(:buying, "Buying") %>
    <%= f.text_field :price_range_start, placeholder: "Price range start" %>
    <%= f.text_field :price_range_end, placeholder: "Price range end" %>
    <%= f.button 'Next Step' %>
  </div>
<% end %>
</div>

<div class="large-4 columns">&nbsp;</div>
</div>
</div>
