&nbsp;

<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class=" large-9 columns">
  <div class="button-bar">
    <ul class="button-group [radius round]">
      <li><a href="#" class="small button secondary disabled">1) Register</a></li>
      <li><a href="#" class="small button secondary success">2) Lead details</a></li>
      <li><a href="#" class="small button secondary disabled">3) Receiving agent</a></li>
      <li><a href="#" class="small button secondary disabled">4) Send</a></li>
  </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">
    <h4>Enter Your Lead Information</h4>
  </div>
  <div class="large-4 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">
    <%= form_tag(step2_create_url, method: :post) do %>
  <div class="form-group mt5">
    <%= text_field_tag :name, nil, placeholder: "Name" %>
    <%= text_field_tag :email, nil, placeholder: "Email" %>
    <%= text_field_tag :mobile, nil, placeholder: "Mobile Phone" %>
    <%= radio_button_tag(:selling, 1) %>
    <%= label_tag(:selling, "Selling") %>
    <%= radio_button_tag(:buying, 1) %>
    <%= label_tag(:buying, "Buying") %>
    <%= text_field_tag :price_range_start, nil, placeholder: "Price range start" %>
    <%= text_field_tag :price_range_end, nil, placeholder: "Price range end" %>
    <%= button_tag 'Next Step' %>
  </div>
<% end %>
</div>

<div class="large-4 columns">&nbsp;</div>
</div>
</div>
