&nbsp;

<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class=" large-9 columns">
  <div class="button-bar">
    <ul class="button-group [radius round]">
      <li><a href="#" class="small button secondary success">1) Client details</a></li>
      <li><a href="#" class="small button secondary disabled">2) Receiving agent</a></li>
      <li><a href="#" class="small button secondary disabled">3) Review/Send</a></li>
  </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h4>Your Referral Client's Details</h4>
    <%= render 'layouts/errors', object: @wizard %>
      <%= form_for(@wizard, url: step2_create_url) do |f|%>
        <%= f.text_field :name, placeholder: "First & Last Name(s)" %>
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.text_field :mobile, placeholder: "Mobile Phone (Example: 123-456-7890)" %>
        <%= f.check_box :selling %>
        <%= f.label(:selling, "Selling") %>
        <%= f.check_box :buying %>
        <%= f.label(:buying, "Buying") %>
        <%= f.text_field :price_range_start, placeholder: "Minimum price (Example: $250,000)" %>
        <%= f.text_field :price_range_end, placeholder: "Maximum price (Example: $400,000)" %>
        <%= f.button 'Next Step' %>
    <% end %>
  </div>

    <div class="large-6 columns">
      <h5>The Basics</h5>
      <div class="callout panel">
      <p>The referral fee is <strong>25%</strong> of the total commission that the Receiving Broker/Agent receives from a successful transaction.</p>
      <p>This fee is due no later than 15 business days after the transaction is completed.</p>

      <em><p>You will see the full, legal agreement prior to sending to the Receiving Agent.</p></em>
      </div>
    </div>
</div>
